<%= render 'shared/page_title', title: @receipt.name %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <h4 class="center description"><strong>Steps: </strong></h4>
    <hr/>
    <%= simple_format(@receipt.description) %>
    <hr/>
    <div class="pull-right">
        <p class="center"></p>
          <em></em>Created by:</em>
        </p>
        <p class="center">
          <%= link_to gravatar_for(@receipt.chef), receipts_path %>
          </p>
          <p class="center">
            <small><%= @receipt.chef.chefname.capitalize %> </small>
            <div class="pull-right"><%= time_ago_in_words(@receipt.created_at) %> ago</div>
          </p>
    </div>
    <div class= "receipt-actions">
      <% if logged_in? && (current_chef == @receipt.chef || current_chef.admin?) %>
        <%= link_to "Edit this receipt", edit_receipt_path(@receipt), class: "btn btn-xs btn-warning" %>
        <%= link_to "Delete this receipt", receipt_path(@receipt), method: :delete,
                                           data: { confirm: "Are you sure you want to delete this receipt?"},
                                           class: "btn btn-xs btn-danger" %>
      <% end %>
     <%= link_to "Return to receipts listing", receipts_path, class: "btn btn-xs btn-primary" %>

    </div>
  </div>
</div>  
